<div class="row">
  <% @boxes.each do |box| %>
      <div class="card-trip">
        <% if box.photos.attached? %>
          <img src="<%= cl_image_path box.photos.last.key%>">
        <%else%>
          <img class="card-img-top" src ='https://source.unsplash.com/500x400/?vegetables' alt = 'alternative photo' %>
        <%end%>   
        <div class="card-trip-infos col-auto mb-3">
<!-- Please be carefull because the cards change size with content -->
          <div>     
              <%= link_to box_path(box) do %>
                <h2><%= box.name %></h2>
              <% end %>
              <p><strong><%= "#{box.content.to_s.first(10)}..." %></strong></p>
              <p><%= box.address.to_s.first(10) %></p>
              <p><%= link_to box_path(box), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-trash-alt destroy_box"></i>
              <% end %></p>
          </div>
          <h2 class="card-trip-pricing"><%= box.price %> € </h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
  <% end %>
</div>