<div class="container">

  <div class="button">
      <%= link_to "Add Box", new_box_path,  class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="row">
      <div class="col">
        <% if @search_query %>
          <p>You searched for <strong><%= @search_query %></strong>. We have <%= @boxes_result.count %> Box result out of <%= Box.count %> on our website!.</p>
          <div class="row">
            <% @boxes.each do |box| %>
                <div class="card-trip">
                  <img src= "<%= cl_image_path cocktail.photos.last.key%>>
                    <div class="card-trip-infos">
                        <div>
                         <h2><%= box.name %></h2>
                          <p><%= box.content %></p>
                          <p><%= box.address %></p>
                        </div>
                      <h2 class="card-trip-pricing"><%= box.price %> € </h2>
                      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                    </div>
                </div>
            <% end %>
          </div>
        <% else %>
          <%= render "boxes" %>
        <% end %>
      </div>
  </div>

</div>

